@import '../../styles/variables.scss';

.map-section {
  padding: 135px 0 152px;
  background-color: var(--black);

  @media (max-width: $md) {
    padding: 40px 0 0 0;
  }
}

.map-holder {
  .text-block {
    max-width: 756px;
    margin-bottom: 101px;

    h2 {
      margin-bottom: 32px;

      @media (max-width: $xs) {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 20px;
      }
    }

    p {
      @media (max-width: $xs) {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}

.map-holder {
  margin-bottom: 218px;
  @media (max-width: $md) {
    margin-bottom: 60px;
  }
}

.map-block {
  position: relative;

  .map-info {
    position: absolute;
    top: -28px;
    right: 165px;

    @media (max-width: $sm) {
      right: 0px;
      top: -50px;
    }

    p {
      &:first-child {
        &::before {
          content: '';
          width: 16px;
          height: 16px;
          display: inline-block;
          vertical-align: middle;
          border-radius: 50%;
          background-color: var(--green);
          margin-right: 16px;
        }
      }

      &::before {
        content: '';
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        background-color: var(--white);
        margin-right: 16px;
      }
    }
  }

  img {
    width: 100%;
  }
}

.about-section {
  padding: 224px 0;
  background: var(--dark-grey);
  @media (max-width: $md) {
    padding: 40px 0 40px;
  }

  .btn-default {
    display: block;
    margin: 0 auto;
  }
}
