@import '../../styles/index.scss';



.map-section {
    padding: 135px 0 152px;
    background-color: var(--black);
}
.map-holder {
   .text-block {
    max-width: 756px;
    margin-bottom: 101px;
    h2 {
        margin-bottom: 32px;
    }
   }
}
.map-block {
    position: relative;
    margin-bottom: 218px;
    .map-info {
        position: absolute;
        top: -28px;
        right: 165px;
        p {
            &:first-child {
                &::before {
                    content: "";
                    width: 16px;
                    height: 16px;
                    display: inline-block;
                    vertical-align: middle;
                    border-radius: 50%;
                    background-color: var(--green);
                    margin-right: 16px;                   
                }
            }
            &::before {
                content: "";
                width: 16px;
                height: 16px;
                display: inline-block;
                vertical-align: middle;
                border-radius: 50%;
                background-color: var(--white);
                margin-right: 16px;
            }
        }
    }
    img {
        width: 100%;
    }
}
.building-objects-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .col-left {
        max-width: 869px;
        .objects-text {
            padding-left: 308px;
        }
       .img-holder {
        &::after {
            content: "";
            position: absolute;
            top: -145px;
            left: 0;
            width: 678px;
            height: 451px;
            background: transparent;
            border: 12px var(--green) solid;
            opacity: 0.3;
            border-left: none;
            z-index: 1;
        }
       }
    }

    .objects-text {
        margin-bottom: 245px;
        h2 {
            margin-bottom: 32px;
        }
        p {
            margin-bottom: 30px;
        }
    }
    .img-holder {
        margin-bottom: 245px;
        position: relative;
        img {
            width: 100%;
        }
        &::after {
            content: "";
            position: absolute;
            top: 85px;
            right: 0;
            width: 821px;
            height: 521px;
            background: transparent;
            border: 12px var(--green) solid;
            opacity: 0.3;
            border-right: none;
            z-index: 1;
        }
    }
    .col-right {
        max-width: 918px;
        .objects-text {
            padding-right: 286px;  
        }
        .img-holder {
            &:last-child {
                &::after {
                    content: "";
                    position: absolute;
                    top: -83px;
                    right: 0;
                    width: 628px;
                    height: 588px;
                    background: transparent;
                    border: 12px var(--green) solid;
                    opacity: 0.3;
                    border-right: none;
                    z-index: 1;
                }
            }
        }
    }
}

.promo-section {
    background: var(--dark-grey);
    padding: 224px 0 368px;
    .btn-default {
        display: block;
        margin: 0 auto;
    }
}