@import '../../styles/index.scss'; 

.breadcrumbs {
  display: flex;   
  align-items: center;
  list-style: none;
  padding: 0;

  li {       
    padding-left: 10px;

    &:first-child {      
      &::after {
        content: "";
        display: inline-flex;       
        background: url(../../assets/icons/caret.svg) no-repeat center; 
        transform: rotate(-90deg);     
        width: 10px;
        height: 10px;
        color: var(--grey-white);
        margin-left: 10px;
      }
    }
  } 
}

.loan-programs {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--black); 
  padding-top: 196px;
  
 

  .text-holder {   
    margin: 0 auto;
    max-width: 808px;
    text-align: center;    

    h2 {          
      margin-bottom: 40px;
    }
    p {    
      font-size: 18px;    
      line-height: 28px; 
      margin: 0 0 61px;  
    }
  }

  .holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    .item-holder {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 608px;       
      background: var(--dark-black);
      padding: 50px 40px 48px;  
      margin: 0 89px 80px 0;   
      box-sizing: border-box; 

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:last-child {
        margin: 0;       
      }
     
      .icon-holder {
        padding-bottom: 41.41px;

        img {
          height: 32px;
          max-width: 44px;
        }
      }

      h3 {     
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        padding-bottom: 16px;
      }
    } 
  }
}

.promo-section {     
  background-image: url(../../assets/image/home.jpg);
  background-size: cover;
  padding: 134px 0 133px;

  .text-holder {
    max-width: 656px;
    margin: 0 auto;
    text-align: center;   

    h2 {     
      line-height: 48px;
      padding-bottom: 32px;    
    }

    p {      
      font-size: 18px;     
      line-height: 28px;  
      padding-bottom: 32px;
      margin: 0;     
    }     
  }
}

