@import '../../styles/index.scss';

.info-section {
  padding: 124px 0 190px;
  background-image: url(../../assets/image/img-gruop.svg);
  background-repeat: no-repeat;
  background-color: var(--black);
  background-position: right;
  position: relative;
  z-index: -1;

  &::before {
    content: '';
    background: rgba(10, 10, 10, 0.9);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  @media (max-width: $md) {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  @media (max-width: $sm) {
    padding-top: 40px;
    padding-bottom: 60px;
  }

  @media (max-width: $xs) {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  h2,
  h3,
  p {
    margin-bottom: 32px;

    @media (max-width: $sm) {
      margin-bottom: 20px;
    }

    @media (max-width: $xs) {
      margin-bottom: 10px;
    }
  }

  h2 {
    @media (max-width: $sm) {
      font-size: 30px;
      line-height: 30px;
    }

    @media (max-width: $xs) {
      font-size: 18px;
      line-height: 25px;
    }
  }

  h3 {
    @media (max-width: $sm) {
      font-size: 20px;
    }

    @media (max-width: $xs) {
      font-size: 16px;
    }
  }

  p {
    @media (max-width: $sm) {
      font-size: 18px;
      line-height: 30px;
    }

    @media (max-width: $xs) {
      font-size: 14px;
      line-height: 25px;
    }
  }
}

.number-holder {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-top: 1px solid var(--green);
  border-bottom: 1px solid var(--green);
  padding: 52px 0 57px;
  margin-bottom: 195px;

  @media (max-width: $sm) {
    margin-bottom: 100px;
    padding: 50px 0;
  }

  .number {
    font-family: 'Inter', sans-serif;
    font-size: 122px;
    line-height: 148px;
    color: transparent;
    -webkit-text-stroke: 1px var(--green);

    @media (max-width: $md) {
      font-size: 80px;
      line-height: 120px;
    }

    @media (max-width: $sm) {
      font-size: 60px;
    }

    @media (max-width: $xs) {
      font-size: 50px;
    }
  }

  .text {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin: 0 auto;
    position: absolute;
    top: 150px;
    left: auto;

    @media (max-width: $md) {
      font-size: 30px;
      line-height: 0px;
    }

    @media (max-width: $sm) {
      font-size: 25px;
    }

    @media (max-width: $xs) {
      font-size: 20px;
    }
  }
}

.info-holder {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 104px;

  .info-block {
    max-width: 388px;
    padding: 0 20px;

    p:first-child {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 16px;
    }

    &:nth-child(2) {
      // padding: 0 56px;
      border-right: 1px solid var(--green);
      border-left: 1px solid var(--green);
    }
  }
}