.count-section {
  background-color: var(--black);
  padding-bottom: 195px;


  .number-holder {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-top: 1px solid var(--green);
    border-bottom: 1px solid var(--green);
    padding: 52px 0 57px;
    margin-bottom: 195px;

    .number {    
      font-family: Inter;
      font-weight: 700;
      font-size: 122px;
      line-height: 148px;
      color: transparent;
      -webkit-text-stroke: 1px var(--green);  
    }

    .text {
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      margin: 0 auto;
      position: absolute;
      top: 150px;
      left: auto;   
    } 
  }

  .info-holder {
    display: flex;
    width: 100%; 
    justify-content: space-between;
    margin-bottom: 104px;

    .info-block {
      max-width: 348px;

      p:first-child {
        font-weight: bold;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;      
      }
      
      &:nth-child(2) {
        padding: 0 56px;
        border-right: 1px solid var(--green);
        border-left: 1px solid var(--green);
      }    
    }  
  }
  .btn {
    margin: 0 auto;
    display: block;
    background: transparent;
    border: 1px solid var(--green);  
    color: var(--green);
  }
}