@import '../../styles/index.scss'; 

.services-page {
  
  
 
  .loan-programs {
    flex-direction: column;
    padding: 196px 30px 296px;

    
    @media (max-width: $md) {  
      padding: 40px 0;
    }  
  }


  .holder {   
    margin: 0 auto;
  
    .item-holder {
      margin-right: 61px;
      margin-bottom: 0;   
      justify-content: stretch; 
      
      @media (max-width: $md) {  
        margin: 0 20px 0 0;
      }  
    }
  }

  .promo-section {  
    display: flex;   
    background-image: url(../../assets/image/program-services.jpg);
    background-size: cover;
    padding: 134px 0 133px;
  }
}