@import '../../styles/index.scss';

body {
  height: 100%;
}

.banner {
  min-height: 600px;
  display: flex;
  align-content: center;
  align-items: center;
  height: calc(100vh - 88px);
  background-image: url(../../assets/image/los-angeles.jpg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
 

  @media (max-width: $md) {
    padding: 40px 0 0;
  }

  @media (max-width: $sm) {
    min-height: 400px;
    height: auto;
  }
}

.text-holder {
  width: 100%;

  @media (max-width: $md) {}

  h1 {
    font-size: 120px;
    line-height: 1.2;

    @media (max-width: $md) {
      font-size: 80px;
    }

    @media (max-width: $sm) {
      font-size: 60px;
    }

    @media (max-width: $xs) {
      font-size: 45px;
    }
  }

  p {
    font-size: 28px;
    line-height: 1.2;
    margin: 52px 0 0;

    @media (max-width: $md) {
      font-size: 25px;
      margin: 20px 0 50px;
    }

    @media (max-width: $sm) {
      font-size: 20px;
      margin: 20px 0 50px;
    }

    @media (max-width: $xs) {
      font-size: 16px;
    }
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;

  li {
    padding-left: 10px;
    &::after {
      content: "";
      display: inline-flex;
      mask-image: url(../../assets/icons/caret.svg);
      mask-position: center;
      mask-repeat: no-repeat;
      transform: rotate(-90deg);
      width: 10px;
      height: 10px;
      background: var(--grey-white);
      margin-left: 10px;
    }

    &:last-child {
      color: var(--white);

      &::after {
        display: none;
      }
    }
  }
   
}
 
.breadcrumbs-link {
  color: var(--grey-white); 
}