@import '../../styles/index.scss';

.banner {
  display: flex;
  align-content: center;
  align-items: center;
  height: calc(100vh - 88px);
  background-image: url(../../assets/image/los-angeles.svg);
  background-size: cover;

  @media (max-width: $md) {
    padding: 40px 0 0;
    height: 100%;
  }

  @media (max-width: $sm) {
    padding: 0;
    height: 100%;
  }
}

.text-holder {
  width: 100%;
  h1 {
    font-size: 120px;
    line-height: 1.2;

    @media (max-width: $md) {
      font-size: 80px;
    }

    @media (max-width: $sm) {
      font-size: 60px;
    }

    @media (max-width: $xs) {
      font-size: 45px;
    }
  }

  p {
    font-size: 28px;
    line-height: 1.2;
    margin: 52px 0 0;

    @media (max-width: $md) {
      font-size: 25px;
      margin: 20px 0;
    }

    @media (max-width: $sm) {
      font-size: 20px;
    }

    @media (max-width: $xs) {
      font-size: 16px;
    }
  }
}
