.rates-holder {
  display: grid;
  grid-template-columns: 51% 37%;
  grid-column-gap: 12%;
  padding-bottom: 165px;
  

  @media (max-width: $xxl) {
    grid-template-columns: 50% 38%;
    grid-column-gap: 9%;
  }

  @media (max-width: $md) {
    grid-template-columns: 95%;
    padding-bottom: 80px;
  }
  @media (max-width: $sm) {
    grid-template-columns: 94%;
    padding-bottom: 40px;
  }
  @media (max-width: $xs) {
    grid-template-columns: 88%;
    padding-bottom: 0;
  }
}
.rates-block { 
  .btn-default {
    margin-top: 40px;
    @media (max-width: $md) {
      margin-top: 20px;
    }
  }
  p {
    @media (max-width: $md) {
      margin-bottom: 20px;
    }
  }
  &:first-of-type {
    @media (max-width: $md) {
      margin-bottom: 50px;
    }
  }
 
}

.table-holder {
  &:first-of-type {
    margin-bottom: 51px;
    .row {
      .col {
        &:first-child {
          width: 35%;
          @media (max-width: $md) {
            width: 18%;
          }
          @media (max-width: $sm) {
            width: 25%;
          }
          @media (max-width: $xs) {
            width: 45%;
          }
        }
      }
    }

  }

  h3 {
    margin-bottom: 20px;
  }

  .row {
    border-top: var(--grey) 2px solid;
    padding: 10px 0 11px;
    @media (max-width: $xs) {
      font-size: 14px;
    }
  }

  @media (max-width: $sm) {
    margin-bottom: 51px;

  }
}

.row {
  display: flex;
  justify-content: space-between;
}