.rates-holder {
    display: grid;
    grid-template-columns: 2fr 2fr;

}
.table-holder {
    .rates-holder {
        display: flex;
        justify-content: space-between;
        border-top: var(--grey) 2px solid;
        padding: 10px 0 11px;
    }  
}
.table-rates {
    margin-bottom: 51px;

    h3 {
        margin-bottom: 20px;
    }
    .rates-block:first-child {
        width: 45%;
    
        @media (max-width:$sm) {
          width: 20%;
        }
      }
}
