@import '../../styles/variables.scss';

.partners-section {
  background: var(--black);
  padding-top: 210px;
}

.benefits-section {
  background: var(--black);

  .text-holder {
    margin-bottom: 62px;

    @media (max-width: $md) {
      margin-bottom: 40px;
    }

    @media (max-width: $sm) {
      margin-bottom: 20px;
    }

    h2 {
      @media (max-width: $md) {
        font-size: 30px;
        line-height: 36px;
      }

      @media (max-width: $sm) {
        font-size: 20px;
        line-height: 26px;
      }
    }
  }
}

.benefits-block {
  padding-bottom: 238px;

  @media (max-width: $xl) {
    padding-bottom: 100px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 92px;

    @media (max-width: $md) {
      margin-bottom: 60px;
    }

    @media (max-width: $xs) {
      margin-bottom: 40px;
      display: block;
    }

    .col {
      margin-right: 145px;
      padding-left: 80px;
      position: relative;

      @media (max-width: $md) {
        margin-right: 40px;
        padding-left: 40px;
      }

      @media (max-width: $sm) {
        margin-right: 20px;
      }

      @media (max-width: $xs) {
        margin-bottom: 40px;
        padding-left: 50px;
      }

      img {
        position: absolute;
        left: 0px;
        top: 5px;

        @media (max-width: $md) {
          width: 32px;
        }
      }

      &:last-child {
        margin-right: 0px;
      }

      h3 {
        margin-bottom: 16px;
        font-size: 20px;

        @media (max-width: $md) {
          font-size: 18px;
        }

        @media (max-width: $sm) {
          font-size: 16px;
        }

        @media (max-width: $xs) {
          font-size: 18px;
          margin-bottom: 10px;
        }
      }

      p {
        font-size: 18px;

        @media (max-width: $md) {
          font-size: 14px;
        }
      }
    }
  }
}

.partners-page {
  .numbers-section {
    margin-bottom: 316px;

    &::after {
      background-image: url(../../assets/image/img-group.png);
      top: -70%;
      left: -25px;
      transform: rotate(180deg);
    }

    &::before {
      background-image: url(../../assets/image/img-group.png);
      bottom: -75%;
      transform: rotate(0deg);
      right: 0;
    }
  }
}