@import '../../styles/index.scss';

.partners-section {
  background: var(--black);
  padding-top: 210px;
}
.benefits-section {
  background: var(--black);
  .text-holder {
    margin-bottom: 62px;
  }
}
.benefits-block {
  padding-bottom: 238px;
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 92px;
    .col {
      margin-right: 145px;
      padding-left: 80px;
      position: relative;
      img {
        position: absolute;
        left: 0px;
      }
      &:last-child {
        margin-right: 0px;
      }
      h3 {
        margin-bottom: 16px;
        font-size: 20px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}
.partners-page {
  .number-holder {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background-image: url(../../assets/image/img-group.png);
      top: -315px;
      left: 26%;
      transform: rotate(180deg);
    }
    &::before {
      content: "";
      position: absolute;
      background-image: url(../../assets/image/img-group.png);
      bottom: -306px;
      transform: rotate(0deg);
      right: 26%;
    }
  }
}