@import '../../styles/index.scss';

.featured {
  background-color: var(--dark-grey);
  padding: 243px 0 141px; 
  
  @media (max-width: $md) {
    padding: 40px 0;
  }


  h2 {
    position: absolute;
    top: 0;
    left: 16px;
    text-transform: uppercase;

    @media (max-width: $md) {
      position: static;      
      font-size: 30px;
      text-align: center;
    }

    @media (max-width: $xs) {
      position: static;      
      font-size: 20px;
    }
  }

  .swiper-holder {
    position: relative;
    padding: 0 20px;
  }

  .container {
    @media (max-width: $md) { 
      padding: 0;
    }
  }

  .swiper {   
    height: 473px;       
    color: var(--default-font-color);
    padding-top: 113px;

    @media (max-width: $md) { 
      height: 350px;
      padding-top: 30px;
    }

    @media (max-width: $xs) { 
      height: 300px;
      padding-top: 20px;
    }

    &-slide {
      background: #000;       
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 85px 28.5px 82px;      
      width: 25%;     
           
      @media (max-width: $xs) {
        width: 100px;
        height: 100%;       
      }

      &:hover {

        p,
        h3,
        img {
          display: none;
        }

        .info-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 16px;
          line-height: 24px; 
          padding-bottom: 40px;                      
        }
      }

      .info-text {
        display: none;
      }

      p {
        height: 88px; 
               
        @media (max-width: $xs) {
          font-size: 14px;
          white-space: wrap;     
        }  
      } 
       

      h3 {
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        padding-bottom: 16px;
        font-size: 20px;       
        text-align: center;
        white-space: nowrap;

        @media (max-width: $xs) {
          font-size: 18px;
          white-space: wrap;
     
        }  
      }
    }
  }

  
  

  .swiper-button-next,
  .swiper-button-prev {
    top: 30px;
    height: 36px;
    width: 36px;
    background-color: var(--green);

    @media (max-width: $md) {
      display: none;
    }


    &::after {
      font-size: 8px;
      color: var(--white);
    }
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    right: 36px;
    left: auto;
    margin-right: 8px;
  }
}

.icon-holder {
  display: flex;
  align-items: center;
  justify-content: center;   
  height: 25px;
  padding-bottom: 40px;   
 }