@import '../../styles/index.scss';

.header {
  background: var(--black);
  position: relative;
}

.container {
  max-width: 1300px;
  min-height: 88px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 15px;
}

.header-holder {
  height: 88px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  // padding: 19px 0 16px 0;
}

.header-info {
  display: flex;
  align-items: center;
}

.logo {
  img {
    width: 146px;
    height: 53px;
  }
}

.nav-menu {
  display: flex;
  margin: 0;

  @media (max-width: $sm) {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    height: 100vh;
    left: 0;
    background: var(--black);
  }

  li {
    list-style: none;
    padding: 28px 24px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
  }

  a {
    text-decoration: none;
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
    color: var(--wihte);
  }

  &.close {
    @media (max-width: $sm) {
      display: none;
    }
  }
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: red;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
  display: none;

  @media (max-width: $sm) {
    display: block;
  }

  &:focus {
    outline: none;
  }

  span {
    width: 2rem;
    height: 0.25rem;
    background: white
  }

}