@import '../../styles/variables.scss';

.header {
  background: var(--black);
  position: relative;
}

.header-holder {
  overflow: hidden;
  height: 88px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 0 30px;

  @media (max-width: $md) {
    padding: 0 15px;
  }
}

.header-info {
  display: flex;
  align-items: center;

  @media (max-width: $md) {
    flex-direction: row-reverse;
  }
}

.logo {
  img {
    width: 146px;
    height: 53px;

    @media (max-width: $xs) {
      width: 110px;
    }
  }
}

.nav-menu {
  display: flex;
  margin: 0; 
  padding: 0 24px;
  white-space: nowrap;

  @media (max-width: $md) {
    display: none;
    flex-direction: column;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 100%;
    height: 100vh;
    left: 0;
    background: var(--black);
    align-items: center;
    z-index: 1;   
  }

  li {
    list-style: none;
    padding: 28px 24px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;

    
    @media (max-width: $xl) {
      padding: 0 10px;
    }

    @media (max-width: $md) {
      border-bottom: 1px solid var(--form-text);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 14px 12px;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      &:hover {
        background: var(--grey);       
      }
    }
  }

  a {
    text-decoration: none;
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
    color: var(--wihte);
  }

  &.open {
    display: flex;
  }

  &.close {
    @media (max-width: $md) {
      display: none;
    }
  }
}


.burger {
  height: 4px;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: relative;
  background: var(--white);
  border: none;
  margin-left: 15px;
  transition: all .3s;



  @media (max-width: $md) {
    display: block;
  }

  &:focus {
    outline: none;
  }

}

.burger-button {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);

  &::after {
    content: "";
    margin-top: 3px;
    display: block;
    background-color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 30px;
  }

  &::before {
    content: "";
    margin-top: 23px;
    display: block;
    background-color: var(--white);   
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 30px;
  }
}