.video-page {  
  background-image: url(../../assets/image/los-angeles.jpg);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; 

  .video-holder {     
    height: 700px;
    width: 100%;
    position: relative;
    z-index: 10;

    &::after {
      content: '';
      background: rgba(0,0,0,.5);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

     video {
      width: 100%;
      height: 100%;
      object-fit: cover;      
     }
     
    .text-holder {
      position: absolute;       
      left: 0;
      right: 0;       
      top: 50%;   
      transform: translate(0, -50%);      
      margin: 0 auto;   
      z-index: 2;
      max-width: 1300px;
      padding: 0 30px;        
    }   
  } 
}

 
