.video-page {  
  background-image: url(../../assets/image/los-angeles.jpg);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;

  .video-holder {
    height: 100vh;
    width: 100%;
    position: relative;
     z-index: 10;
     
    .text-holder {
      position: absolute;
      top: 0;
      left: 0; 
      right: 0;  
      bottom: 0;  
      margin: auto;   
      z-index: 10;
      max-width: 1300px;
      padding: 100px 30px 0;  
    }     
      iframe {     
      border-width: 0;
      outline-width: 0;
      width: 100%;
    }
  }
}

 
