@import './styles/index.scss';
.App {
  overflow: hidden;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
  align-items: center;
  width: 100%;
}
.section {
  padding: 193px 0 165px;
  position: relative;

  @media (max-width: $md) {
    padding: 95px 0 80px;
  }
  @media (max-width: $sm) {
    padding: 40px 0;
  }
}
