@import './styles/variables.scss';

.header {
  background: var(--black);
}

.container {
  max-width: 1300px;
  min-height: 88px;
  margin: 0 auto;
  overflow: hidden;
}

.header-holder {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 19px 0 16px 0;
}

.logo {
  img {
    width: 146px;
    height: 53px;
  }
}

.nav-menu {
  display: flex;
  margin: 0;
}

.nav-menu {
  li {
    list-style: none;
    padding: 28px 24px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
  }
}

.btn {
  width: 165px;
  height: 48px;
  cursor: pointer;
  background: linear-gradient(142.45deg, #00ab39 23.58%, #008b00 86.63%);
  border: none;
  color: var(--white);
}

.btn {
  &:hover {
    background: var(--primary-color);
    transition: 1s;
  }
}

.btn-default {
  background: bottom;
  cursor: pointer;
  overflow: hidden;
  color: var(--green);
  border: 1px solid;

  &:hover {
    background: linear-gradient(142.45deg, #00ab39 23.58%, #008b00 86.63%);
    border: none;
    color: var(--white);
    transition: 1s;
  }
  // @media (max-width:$sm) {
  //   margin: 0 auto;
  // }
}


.banner {
  padding-top: 191px;
  height: 992px;
  background-image: url(../src/assets/image/los-angeles.svg);
  background-size: cover;
  @media (max-width:$sm) {
    padding: 0;
    height: 100%;
  }
}

.text-holder {
  p {
    font-size: 28px;
    line-height: 48px;
    margin: 52px 0 0;
  }
  @media (max-width:$sm) {
    h1 {
      font-size: 60px;
      line-height: 80px;
    }
  }
  @media (max-width:$xs) {
    h1 {
      font-size: 40px;
      line-height: 60px;
    }
    p {
      font-size: 16px;
      line-height: 30px;
      margin: 0;
    }
    
  }
}

.info-section {
  padding-top: 124px;
  padding-bottom: 190px;
  background-image: url(../src/assets/image/img-gruop.svg);
  background-repeat: no-repeat;
  background-color: var(--black);
  background-position: right;
  position: relative;
  z-index: -1;
  &::before{
    content: "";
    background: rgba(10, 10, 10, 0.9);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

  }
  @media (max-width:$sm) {
    padding-top: 40px;
    padding-bottom: 60px;
    
  }

}




.row {
  display: flex;
  justify-content: space-between;
  h2, h3, p {
    padding-bottom: 32px;
   }
  @media (max-width:$sm) {
    display: block;
    h2, h3, p {
      padding-bottom: 20px;
    } 
  }
  .col {
    @media (max-width:$sm) {
      h2 {
        font-size: 20px;
        line-height: 30px;
      }
      h3 {
        font-size: 16px;
        
      }
    }
  }

}

.row-cell {
  border-top: var(--grey) 2px solid;
  padding: 10px 0 11px;
  @media (max-width:$sm) {
    display: flex;
    font-size: 14px;
  }

}

.table-rates {
  .col:first-child {
    width: 45%;

    @media (max-width:$sm) {
      width: 20%;
    }
  }

  h3 {
    margin-bottom: 20px;
  }

  margin-bottom: 51px
}


.footer-holder {
  padding-top: 106px;
  background: var(--footer-color);
  img {
    padding-bottom: 34px;
  }
  h4 {
    padding-bottom: 40px;
  }
  p {
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 20px;
  }
  li {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    list-style: none;
    padding-bottom: 8px;
  }

  .col:last-child {
    ul {
      padding-bottom: 40px;
    }

    h4 {
      padding-bottom: 20px;
    }
  }

  .footer-bottom {
    border-top: 1px #dddddd solid;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;

  }

  .social {
    display: flex;
    li {
      &:not(:first-child) {
        &::before{
          content: "";
          width: 3px;
          height: 3px;
          display: inline-block;
          vertical-align: middle;
          border-radius: 50%;
          background-color: var(--green);
          margin: 0 20px;
        } 
      }
      
    }

    img {
      padding: 0 8px 0;
    }
  }
  
}
