@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto+Condensed:wght@400;700&display=swap');

:root {
  --default-font: 'Montserrat', serif;
  --green: #019b1e;
  --white: #ffffff;
  --black: #101010;
  --dark-grey: #1c1c1c;
  --grey: #808080;
  --footer-color: #191a1a;
  --primary-color: var(--green);
  --default-font-color: var(--white);
  --grey-text: #5a5b5c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--default-font);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
}

h1 {
  font-size: 120px;
  line-height: 146px;
  margin: 0;
}

h2 {
  font-size: 36px;
  line-height: 43px;
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin: 0;
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
